<section class="courses-sec">
  <!-- container for content -->
  <div class="wapper">
    <!-- title for section -->
    <h2 class="title light">Our Courses</h2>
    <!-- course cards start -->
    <div class="course-cards">
      <div class="course-card">
        <img class="courseImg" src="../../../assets/images/course1.png" alt="courseImg">
        <!-- info about the course -->
        <div class="info">
          <h3>Game Design Essentials
          </h3>
          <div class="duration">
            <img src="../../../assets/images/time-icon.svg" alt="timeIcon">
            <p>8 HRS</p>
          </div>
        </div>
        <!-- info about the course end -->
      </div>
      <div class="course-card">
        <img class="courseImg"  src="../../../assets/images/course2.png" alt="courseImg">
        <!-- info about the course -->
        <div class="info">
          <h3>Unity Game Engine <br> Fundamentals
          </h3>
          <div class="duration">
            <img src="../../../assets/images/time-icon.svg" alt="timeIcon">
            <p>8 HRS</p>
          </div>
        </div>
        <!-- info about the course end -->
      </div>
    </div>
    <!-- course cards start -->
    <a href="" class=" btn course-btn light">All Courses</a>
  </div>
</section>
