<div class="hero-sec">
  <!-- left part start -->
  <div class="left">
    <h1 class="main-title">Learn the art of <br> Game Dev</h1>
    <p class="descrption">This is a comprehensive course on Game Development. You will learn everything from generating an idea to publishing your games to different platforms.</p>
    <a href="#" class="btn light enroll-icon">Enrol Now</a>
  </div>
  <!-- left part end -->

  <!-- right part start -->
  <div class="right">
    <img src="../../../assets/images/hero-image.png" alt="hero-img">
  </div>
  <!-- right part end -->

  <!-- achievement cards start -->
  <div class="achievement-cards">
    <!-- student enroll card -->
    <div class="achievement-card student-enroll">
      <div class="content">
        <div class="title">
          <h3>32K</h3>
        </div>
        <p>Students Enrolled</p>
      </div>
      <div class="bg"></div>
    </div>
    <!-- overall rate card -->
    <div class="achievement-card overall-rate">
      <div class="content">
        <div class="title">
          <h3>4.7</h3>
          <img src="../../../assets/images/star.svg" alt="">
        </div>
        <p>Overall Rating</p>
      </div>
      <div class="bg"></div>
    </div>
  </div>
  <!-- achievement cards end -->
</div>
