<!-- container -->
<div class="wapper">
  <!-- testimonials section start -->
  <section class="testimonials-sec">

    <!-- left part start -->
    <div class="left">
      <div class="card">
        <div class="content">
          <p>This is a great course. It helped me a lot. Thank you :)</p>
        </div>
        <div class="info">
          <h3>Jane Cooper</h3>
          <p>Developer, Sony</p>
        </div>
        <img src="../../../assets/images/Testimonial Img1.png" alt="personImg">
      </div>
      <div class="card">
        <div class="content">
          <p>Amazing Work! Well done!</p>
        </div>
        <div class="info">
          <h3>Jacob Jones</h3>
          <p>Designer, Facebook</p>
        </div>
        <img src="../../../assets/images/Testimonial Img2.png" alt="personImg">
      </div>
    </div>
    <!-- left part end -->

    <!-- right part start -->
    <div class="right">
      <h2>What our students say</h2>
      <p>All students get access to all the videos and also the source code of the projects.<br>You will also have access to a private Discord channel where you can discuss your doubts.</p>
      <!-- hide in mobile view -->
      <a href="#" class="btn light desktop-btn">Learn More</a>
    </div>
    <!-- right part end -->

    <!-- hide in desktop view -->
    <a href="#" class="btn light mobile-btn">Learn More</a>
  </section>
  <!-- testimonials section end -->
</div>
